# Subtema escolhido: Liquidação Financeira de Cotas da Energia Nuclear

O presente relatório tem como objetivo analisar os dados de liquidações ao longo dos anos, identificando tendências e padrões que possam fornecer informações valiosas para o entendimento do comportamento dessas transações. A análise considera diversos aspectos como o volume de liquidações por ano, os meses de maior atividade, os dias da semana mais frequentes para liquidações e as mudanças ao longo do tempo. O estudo é crucial para a tomada de decisões estratégicas em empresas e setores que dependem de previsões precisas de liquidações.

In [157]:
import pandas as pd

df = pd.read_csv('Analise_dados.csv')
df

    Mes de referencia Data da Liquidacao   Dia da Semana
0              jan/25         17/02/2025   Segunda feira
1              fev/25         18/03/2025     Terca feira
2              mar/25         15/04/2025     Terca feira
3              abr/25         16/05/2025     Sexta feira
4              mai/25         16/06/2025   Segunda feira
..                ...                ...             ...
151            ago/13         16/09/2013   Segunda feira
152            set/13         15/10/2013     Terca feira
153            out/13         18/11/2013   Segunda feira
154            nov/13         16/12/2013   Segunda feira
155            dez/13         16/01/2014    Quinta feira

[156 rows x 3 columns]

In [158]:
# Acessando os 5 primieros itens

df.head()

  Mes de referencia Data da Liquidacao   Dia da Semana
0            jan/25         17/02/2025   Segunda feira
1            fev/25         18/03/2025     Terca feira
2            mar/25         15/04/2025     Terca feira
3            abr/25         16/05/2025     Sexta feira
4            mai/25         16/06/2025   Segunda feira

In [159]:
# Acessando os 5 últimos itens

df.tail()

    Mes de referencia Data da Liquidacao   Dia da Semana
151            ago/13         16/09/2013   Segunda feira
152            set/13         15/10/2013     Terca feira
153            out/13         18/11/2013   Segunda feira
154            nov/13         16/12/2013   Segunda feira
155            dez/13         16/01/2014    Quinta feira

In [160]:
# Acessando apenas uma coluna da nossa base de dados com Pandas Series:

coluna_dia_da_semana = df['Dia da Semana']

coluna_dia_da_semana

0       Segunda feira
1         Terca feira
2         Terca feira
3         Sexta feira
4       Segunda feira
            ...
151     Segunda feira
152       Terca feira
153     Segunda feira
154     Segunda feira
155      Quinta feira
Name: Dia da Semana, Length: 156, dtype: object

In [161]:
# Acessando todas as colunas do nosso dataframe

colunas = df.columns
colunas

Index(['Mes de referencia', 'Data da Liquidacao', 'Dia da Semana'], dtype='object')

In [162]:
# Acessando os valores do nosso df por um array Numpy:

valores = df.values
valores

array([['jan/25', ' 17/02/2025', ' Segunda feira'],
       ['fev/25', ' 18/03/2025', ' Terca feira'],
       ['mar/25', ' 15/04/2025', ' Terca feira'],
       ['abr/25', ' 16/05/2025', ' Sexta feira'],
       ['mai/25', ' 16/06/2025', ' Segunda feira'],
       ['jun/25', ' 15/07/2025', ' Terca feira'],
       ['jul/25', ' 15/08/2025', ' Sexta feira'],
       ['ago/25', ' 15/09/2025', ' Segunda feira'],
       ['set/25', ' 15/10/2025', ' Quarta feira'],
       ['out/25', ' 17/11/2025', ' Segunda feira'],
       ['nov/25', ' 15/12/2025', ' Segunda feira'],
       ['dez/25', ' 16/01/2026', ' Sexta feira'],
       ['jan/24', ' 16/02/2024', ' Sexta feira'],
       ['fev/24', ' 15/03/2024', ' Sexta feira'],
       ['mar/24', ' 15/04/2024', ' Segunda feira'],
       ['abr/24', ' 16/05/2024', ' Quinta feira'],
       ['mai/24', ' 17/06/2024', ' Segunda feira'],
       ['jun/24', ' 15/07/2024', ' Segunda feira'],
       ['jul/24', ' 15/08/2024', ' Quinta feira'],
       ['ago/24', ' 16/09/2024', ' Segunda feira'],
       ['set/24', ' 15/10/2024', ' Terca feira'],
       ['out/24', ' 18/11/2024', ' Segunda feira'],
       ['nov/24', ' 16/12/2024', ' Segunda feira'],
       ['dez/24', ' 16/01/2025', ' Quinta feira'],
       ['jan/23', ' 15/02/2023', ' Quarta feira'],
       ['fev/23', ' 15/03/2023', ' Quarta feira'],
       ['mar/23', ' 18/04/2023', ' Terca feira'],
       ['abr/23', ' 16/05/2023', ' Terca feira'],
       ['mai/23', ' 16/06/2023', ' Sexta feira'],
       ['jun/23', ' 17/07/2023', ' Segunda feira'],
       ['jul/23', ' 15/08/2023', ' Terca feira'],
       ['ago/23', ' 18/09/2023', ' Segunda feira'],
       ['set/23', ' 17/10/2023', ' Terca feira'],
       ['out/23', ' 17/11/2023', ' Sexta feira'],
       ['nov/23', ' 15/12/2023', ' Sexta feira'],
       ['dez/23', ' 16/01/2024', ' Terca feira'],
       ['jan/22', ' 15/02/2022', ' Terca feira'],
       ['fev/22', ' 16/03/2022', ' Quarta feira'],
       ['mar/22', ' 18/04/2022', ' Segunda feira'],
       ['abr/22', ' 16/05/2022', ' Segunda feira'],
       ['mai/22', ' 15/06/2022', ' Quarta feira'],
       ['jun/22', ' 15/07/2022', ' Sexta feira'],
       ['jul/22', ' 15/08/2022', ' Segunda feira'],
       ['ago/22', ' 16/09/2022', ' Sexta feira'],
       ['set/22', ' 18/10/2022', ' Terca feira'],
       ['out/22', ' 17/11/2022', ' Quinta feira'],
       ['nov/22', ' 15/12/2022', ' Quinta feira'],
       ['dez/22', ' 16/01/2023', ' Segunda feira'],
       ['jan/21', ' 18/02/2021', ' Quinta feira'],
       ['fev/21', ' 15/03/2021', ' Segunda feira'],
       ['mar/21', ' 16/04/2021', ' Sexta feira'],
       ['abr/21', ' 17/05/2021', ' Segunda feira'],
       ['mai/21', ' 16/06/2021', ' Quarta feira'],
       ['jun/21', ' 15/07/2021', ' Quinta feira'],
       ['jul/21', ' 16/08/2021', ' Segunda feira'],
       ['ago/21', ' 16/09/2021', ' Quinta feira'],
       ['set/21', ' 18/10/2021', ' Segunda feira'],
       ['out/21', ' 17/11/2021', ' Quarta feira'],
       ['nov/21', ' 15/12/2021', ' Quarta feira'],
       ['dez/21', ' 17/01/2022', ' Segunda feira'],
       ['jan/20', ' 17/02/2020', ' Segunda feira'],
       ['fev/20', ' 16/03/2020', ' Segunda feira'],
       ['mar/20', ' 16/04/2020', ' Quinta feira'],
       ['abr/20', ' 18/05/2020', ' Segunda feira'],
       ['mai/20', ' 16/06/2020', ' Terca feira'],
       ['jun/20', ' 15/07/2020', ' Quarta feira'],
       ['jul/20', ' 17/08/2020', ' Segunda feira'],
       ['ago/20', ' 16/09/2020', ' Quarta feira'],
       ['set/20', ' 16/10/2020', ' Sexta feira'],
       ['out/20', ' 17/11/2020', ' Terca feira'],
       ['nov/20', ' 15/12/2020', ' Terca feira'],
       ['dez/20', ' 18/01/2021', ' Segunda feira'],
       ['jan/19', ' 15/02/2019', ' Sexta feira'],
       ['fev/19', ' 18/03/2019', ' Segunda feira'],
       ['mar/19', ' 15/04/2019', ' Segunda feira'],
       ['abr/19', ' 16/05/2019', ' Quinta feira'],
       ['mai/19', ' 17/06/2019', ' Segunda feira'],
       ['jun/19', ' 15/07/2019', ' Segunda feira'],
       ['jul/19', ' 15/08/2019', ' Quinta feira'],
       ['ago/19', ' 16/09/2019', ' Segunda feira'],
       ['set/19', ' 15/10/2019', ' Terca feira'],
       ['out/19', ' 18/11/2019', ' Segunda feira'],
       ['nov/19', ' 16/12/2019', ' Segunda feira'],
       ['dez/19', ' 16/01/2020', ' Quinta feira'],
       ['jan/18', ' 16/02/2018', ' Sexta feira'],
       ['fev/18', ' 15/03/2018', ' Quinta feira'],
       ['mar/18', ' 16/04/2018', ' Segunda feira'],
       ['abr/18', ' 16/05/2018', ' Quarta feira'],
       ['mai/18', ' 15/06/2018', ' Sexta feira'],
       ['jun/18', ' 16/07/2018', ' Segunda feira'],
       ['jul/18', ' 15/08/2018', ' Quarta feira'],
       ['ago/18', ' 18/09/2018', ' Terca feira'],
       ['set/18', ' 16/10/2018', ' Terca feira'],
       ['out/18', ' 19/11/2018', ' Segunda feira'],
       ['nov/18', ' 17/12/2018', ' Segunda feira'],
       ['dez/18', ' 16/01/2019', ' Quarta feira'],
       ['jan/17', ' 15/02/2017', ' Quarta feira'],
       ['fev/17', ' 15/03/2017', ' Quarta feira'],
       ['mar/17', ' 18/04/2017', ' Terca feira'],
       ['abr/17', ' 16/05/2017', ' Terca feira'],
       ['mai/17', ' 14/06/2017', ' Quarta feira'],
       ['jun/17', ' 17/07/2017', ' Segunda feira'],
       ['jul/17', ' 15/08/2017', ' Terca feira'],
       ['ago/17', ' 18/09/2017', ' Segunda feira'],
       ['set/17', ' 17/10/2017', ' Terca feira'],
       ['out/17', ' 17/11/2017', ' Sexta feira'],
       ['nov/17', ' 15/12/2017', ' Sexta feira'],
       ['dez/17', ' 16/01/2018', ' Terca feira'],
       ['jan/16', ' 16/02/2016', ' Terca feira'],
       ['fev/16', ' 15/03/2016', ' Terca feira'],
       ['mar/16', ' 15/04/2016', ' Sexta feira'],
       ['abr/16', ' 16/05/2016', ' Segunda feira'],
       ['mai/16', ' 15/06/2016', ' Quarta feira'],
       ['jun/16', ' 15/07/2016', ' Sexta feira'],
       ['jul/16', ' 15/08/2016', ' Segunda feira'],
       ['ago/16', ' 16/09/2016', ' Sexta feira'],
       ['set/16', ' 18/10/2016', ' Terca feira'],
       ['out/16', ' 17/11/2016', ' Quinta feira'],
       ['nov/16', ' 15/12/2016', ' Quinta feira'],
       ['dez/16', ' 16/01/2017', ' Segunda feira'],
       ['jan/15', ' 19/02/2015', ' Quinta feira'],
       ['fev/15', ' 16/03/2015', ' Segunda feira'],
       ['mar/15', ' 16/04/2015', ' Quinta feira'],
       ['abr/15', ' 18/05/2015', ' Segunda feira'],
       ['mai/15', ' 16/06/2015', ' Terca feira'],
       ['jun/15', ' 15/07/2015', ' Quarta feira'],
       ['jul/15', ' 17/08/2015', ' Segunda feira'],
       ['ago/15', ' 16/09/2015', ' Quarta feira'],
       ['set/15', ' 16/10/2015', ' Sexta feira'],
       ['out/15', ' 17/11/2015', ' Terca feira'],
       ['nov/15', ' 15/12/2015', ' Terca feira'],
       ['dez/15', ' 18/01/2016', ' Segunda feira'],
       ['jan/14', ' 17/02/2014', ' Segunda feira'],
       ['fev/14', ' 19/03/2014', ' Quarta feira'],
       ['mar/14', ' 15/04/2014', ' Terca feira'],
       ['abr/14', ' 16/05/2014', ' Sexta feira'],
       ['mai/14', ' 13/06/2014', ' Sexta feira'],
       ['jun/14', ' 16/07/2014', ' Quarta feira'],
       ['jul/14', ' 15/08/2014', ' Sexta feira'],
       ['ago/14', ' 15/09/2014', ' Segunda feira'],
       ['set/14', ' 15/10/2014', ' Quarta feira'],
       ['out/14', ' 17/11/2014', ' Segunda feira'],
       ['nov/14', ' 15/12/2014', ' Segunda feira'],
       ['dez/14', ' 16/01/2015', ' Sexta feira'],
       ['jan/13', ' 22/02/2013', ' Sexta feira'],
       ['fev/13', ' 15/03/2013', ' Sexta feira'],
       ['mar/13', ' 15/04/2013', ' Segunda feira'],
       ['abr/13', ' 16/05/2013', ' Quinta feira'],
       ['mai/13', ' 17/06/2013', ' Segunda feira'],
       ['jun/13', ' 15/07/2013', ' Segunda feira'],
       ['jul/13', ' 15/08/2013', ' Quinta feira'],
       ['ago/13', ' 16/09/2013', ' Segunda feira'],
       ['set/13', ' 15/10/2013', ' Terca feira'],
       ['out/13', ' 18/11/2013', ' Segunda feira'],
       ['nov/13', ' 16/12/2013', ' Segunda feira'],
       ['dez/13', ' 16/01/2014', ' Quinta feira']], dtype=object)

In [163]:
# Pegando estatísticas descritivas das colunas:

df.describe().round(0)

       Mes de referencia Data da Liquidacao   Dia da Semana
count                156                156             156
unique               156                156               5
top               jan/25         17/02/2025   Segunda feira
freq                   1                  1              57

In [164]:
# Realizando uma transposição de matrizes com o desrible():

df.describe().round(0).T

                   count unique             top freq
Mes de referencia    156    156          jan/25    1
Data da Liquidacao   156    156      17/02/2025    1
Dia da Semana        156      5   Segunda feira   57

In [165]:
# Vereficando se há algum dado vazio:

df.isnull().sum()

Mes de referencia     0
Data da Liquidacao    0
Dia da Semana         0
dtype: int64

In [166]:
# Retornando a quantidade de elementos unicos:

df.nunique()

Mes de referencia     156
Data da Liquidacao    156
Dia da Semana           5
dtype: int64

In [167]:
# Acessando as 10 primeiras linhas com loc:

df.loc[0:10, 'Mes de referencia': 'Dia da Semana']

   Mes de referencia Data da Liquidacao   Dia da Semana
0             jan/25         17/02/2025   Segunda feira
1             fev/25         18/03/2025     Terca feira
2             mar/25         15/04/2025     Terca feira
3             abr/25         16/05/2025     Sexta feira
4             mai/25         16/06/2025   Segunda feira
5             jun/25         15/07/2025     Terca feira
6             jul/25         15/08/2025     Sexta feira
7             ago/25         15/09/2025   Segunda feira
8             set/25         15/10/2025    Quarta feira
9             out/25         17/11/2025   Segunda feira
10            nov/25         15/12/2025   Segunda feira

In [ ]:
# Função para filtrar dados por ano
def filtrar_por_ano(dados, ano):
    dados_ano = dados[pd.to_datetime(dados['Data da Liquidacao']).dt.year == ano]
    return dados_ano

# Função para contar o número de liquidações por ano
def contar_liquidacoes_por_ano(dados, ano):
    dados_ano = filtrar_por_ano(dados, ano)
    return len(dados_ano)

# Função para identificar o mês com o maior número de liquidações
def mes_com_mais_liquidacoes(dados):
    meses_pt = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 
                'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
    mes_counts = pd.to_datetime(dados['Data da Liquidacao']).dt.month.value_counts()
    mes_mais_frequente = mes_counts.idxmax()
    quantidade = mes_counts.max()
    mes_mais_frequente_pt = meses_pt[mes_mais_frequente - 1]
    return mes_mais_frequente_pt, quantidade

# Função para contar liquidações por dia da semana
def liquida_por_dia(dados):
    dias_pt = ['segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado', 'domingo']
    dia_counts = pd.to_datetime(dados['Data da Liquidacao']).dt.dayofweek.value_counts()
    dia_counts_pt = dia_counts.rename(lambda x: dias_pt[x]) 
    return dia_counts_pt

# Função para analisar liquidações em um mês específico de todos os anos
def liquida_por_mes(dados, mes):
    dados_mes = dados[pd.to_datetime(dados['Data da Liquidacao']).dt.month_name() == mes.title()]
    return dados_mes

# Função para gerar insights sobre os dados
def gerar_insights(dados):
    
    # Insight 1: Mês com maior número de liquidações
    mes_mais_frequente, quantidade = mes_com_mais_liquidacoes(dados)
    print(f"Insight 1: O mês com o maior número de liquidações é {mes_mais_frequente} com {quantidade} liquidações.\n")
    
    # Insight 2: Liquidações por dia da semana
    print("Insight 2: Quantidade de liquidações por dia da semana:")
    dia_counts = liquida_por_dia(dados)
    for dia, quantidade in dia_counts.items():
        print(f"{dia}: {quantidade} liquidações")
    print("\n")
    
    # Insight 3: Quantidade de liquidações por ano
    print("Insight 3: Quantidade de liquidações por ano:")
    for ano in range(2013, 2026):
        total_ano = contar_liquidacoes_por_ano(dados, ano)
        print(f"{ano}: {total_ano} liquidações")
    print("\n")

    dados['Data da Liquidacao'] = pd.to_datetime(dados['Data da Liquidacao'], format='%d/%m/%Y')

In [183]:
gerar_insights(df)

Insight 1: O mês com o maior número de liquidações é fevereiro com 13 liquidações.

Insight 2: Quantidade de liquidações por dia da semana:
segunda-feira: 57 liquidações
terça-feira: 30 liquidações
sexta-feira: 27 liquidações
quarta-feira: 22 liquidações
quinta-feira: 20 liquidações


Insight 3: Quantidade de liquidações por ano:
2013: 11 liquidações
2014: 12 liquidações
2015: 12 liquidações
2016: 12 liquidações
2017: 12 liquidações
2018: 12 liquidações
2019: 12 liquidações
2020: 12 liquidações
2021: 12 liquidações
2022: 12 liquidações
2023: 12 liquidações
2024: 12 liquidações
2025: 12 liquidações

In [184]:
filtrar_por_ano(df, 2018)

    Mes de referencia Data da Liquidacao   Dia da Semana
84             jan/18         2018-02-16     Sexta feira
85             fev/18         2018-03-15    Quinta feira
86             mar/18         2018-04-16   Segunda feira
87             abr/18         2018-05-16    Quarta feira
88             mai/18         2018-06-15     Sexta feira
89             jun/18         2018-07-16   Segunda feira
90             jul/18         2018-08-15    Quarta feira
91             ago/18         2018-09-18     Terca feira
92             set/18         2018-10-16     Terca feira
93             out/18         2018-11-19   Segunda feira
94             nov/18         2018-12-17   Segunda feira
107            dez/17         2018-01-16     Terca feira

In [185]:
contar_liquidacoes_por_ano(df, 2017)

12

In [186]:
mes_com_mais_liquidacoes(df)

('fevereiro', 13)

In [187]:
liquida_por_dia(df)

Data da Liquidacao
segunda-feira    57
terça-feira      30
sexta-feira      27
quarta-feira     22
quinta-feira     20
Name: count, dtype: int64

# Relatório dos insigths:

Insight 1: Mês com Maior Número de Liquidações - O mês com o maior número de liquidações ao longo dos dados analisados foi fevereiro, com um total de 13 liquidações. Esse dado é importante para entender os períodos de maior atividade e pode ser útil para otimizar os recursos e planejar ações comerciais.

Insight 2: Liquidações por Dia da Semana - A análise dos dias da semana revelou que segunda-feira é o dia com maior frequência de liquidações, seguido por terça-feira. A distribuição das liquidações por dia da semana segue um padrão que pode indicar preferências dos clientes ou períodos de maior demanda.

Insight 3: Quantidade de Liquidações por Ano - A contagem de liquidações por ano mostrou uma tendência de ter pelo menos uma liquidação por ano. Em particular, o ano de 2013 não teve o mesmo número de liquidações que os outros.